<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <meta name = "description" content = "Трансліт тэксту на беларускай мове">
        <meta name = "keywords" content = "трансліт, тэкст, беларуская, мова, Беларусь">

        <!--bootstrap-->
        <link rel="stylesheet" href="static/styles/bootstrap.min.css">

        <!--my css-->
        <link rel="stylesheet" type="text/css" href="static/styles/style.css">

        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center belat">
                            <span>BELAT</span><br>
                            <span class="latinca">беларуская лацiнка</span>
                        </h1>
                <div class="row">
                    <div class="col-md-4 col-sm-12"></div>
                    <div class="col-md-4 col-sm-12"></div>
                    <div class="col-md-4 col-sm-12">
                        <div class="text-center">
                            <button type="button" class="btn praca_btn">
                                {% block link %}{% endblock %}
                            </button>
                        </div>
                    </div>
                </div>

                    </div>
                </div>
            </div>
        </header>

        <div id="wrk_area">
            {% block work_form %}
            {% endblock %}
        </div>
        <footer >
             <div class="footer ">       
                <div>Зыходны код:
                    <a href="https://github.com/alex-rusakevich/belat">https://github.com/alex-rusakevich/belat</a></br>
                        Скаргі на праблемы з сайтам пішыце на<br>
                         mr.alexander.rusakevich@gmail.com</br>
                        <span id="version">Версія Belat {{ version }}</span><br>
                        designed by Denis Sapunov
                </div>
            </div>
        </footer>
        <script src="static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>