{% extends "base.html" %}

{% block title %}belat - праца з файлам{% endblock %}

{% block link %}<a href="/" id="file_link">Праца з тэкстам</a>{% endblock %}

{% block work_form %}
    <form action="" method="POST" id="text_form" enctype="multipart/form-data">
        <input type="file" name="file">
        <p>
            <select name="file_type">
                {% set ns = namespace(i=0) %}
                {% for e in file_types %}
                    {% if ns.i==sel_file_type %}
                        <option value="{{ns.i}}" selected>{{e}}</option>
                    {% else %}
                        <option value="{{ns.i}}">{{e}}</option>
                    {% endif %}
                    {% set ns.i = ns.i + 1 %}
                {% endfor %}
            </select>

            <select name="scheme">
                {% set ns = namespace(i=0) %}
                {% for e in schemes %}
                    {% if ns.i==sel_scheme %}
                        <option value="{{ns.i}}" selected>{{e.name}}</option>
                    {% else %}
                        <option value="{{ns.i}}">{{e.name}}</option>
                    {% endif %}
                    {% set ns.i = ns.i + 1 %}
                {% endfor %}
            </select>

            <select name="dir">
                {% if sel_dir==0 %}
                    <option value="0" selected>Кірыліца -> Лацінка</option>
                    <option value="1">Лацінка -> Кірыліца</option>
                {% elif sel_dir==1 %}
                    <option value="0">Кірыліца -> Лацінка</option>
                    <option value="1" selected>Лацінка -> Кірыліца</option>
                {% endif %}
            </select>
            <input type="submit" value="Трансліт">

            З

            <select name="enc_in">
                {% set ns = namespace(i=0) %}
                {% for e in encodings %}
                    {% if ns.i==sel_enc_in %}
                        <option value="{{ns.i}}" selected>{{e}}</option>
                    {% else %}
                        <option value="{{ns.i}}">{{e}}</option>
                    {% endif %}
                    {% set ns.i = ns.i + 1 %}
                {% endfor %}
            </select>

            у

            <select name="enc_out">
                {% set ns = namespace(i=0) %}
                {% for e in encodings %}
                    {% if ns.i==sel_enc_out %}
                        <option value="{{ns.i}}" selected>{{e}}</option>
                    {% else %}
                        <option value="{{ns.i}}">{{e}}</option>
                    {% endif %}
                    {% set ns.i = ns.i + 1 %}
                {% endfor %}
            </select>
        </p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Здарылася памылка:
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% else %}
            {% if download_link %}
                Зроблена! Перайдзіце па спасылцы, каб атрымаць файл: <a href="{{ download_link }}">{{ download_link }}</a>
            {% else %}
                Загрузіце файл з дапамогай інструментаў вышэй
            {% endif %}
        {% endif %}
    {% endwith %}
    
{% endblock %}
